<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="APITestSuite">
    <test name="APITests">

        <classes>
            <class name="com.example.apitests.SanityTest"/>
            <class name="com.example.apitests.GetPostTest"/>
            <class name="com.example.apitests.GetCommentsTest"/>
            <class name="com.example.apitests.CrudOperationsTest"/>
            <class name="com.example.apitests.AuthAndHeadersTest"/>
            <class name="com.example.apitests.JsonSchemaValidationTest"/>
        </classes>

    </test>
    <listeners>
        <listener class-name="com.example.apitests.utils.ExtentListener"/>
    </listeners>
</suite>
